/* Footer */
footer {
    background-color: $bg-primary-darken;
    width: 100%;

    .footer_content {
        font-size: 1rem;

        a,
        p {
            font-size: 1rem;
            color: $c-secondary;
            line-height: 1.5rem;
            transition: all .25s;

            &:hover:not(.shoe),
            &:focus:not(.shoe) * {
                color: $c-primary-light;
            }
        }

        @media screen and (max-width: 768px) {

            p,
            a,
            span {
                font-size: 12px;
                line-height: 1.2rem;
            }
        }

        .footer_title {
            text-transform: uppercase;
            color: $c-primary;
            font-size: $fs-5;
            letter-spacing: 0.2rem;
        }

        .footer_item {
            padding: 0;

            li {
                margin: 0 0 0.3rem 0;

                span {
                    margin-right: 1rem;
                }

                @media screen and (max-width: 576px) {
                    margin: 0;
                }
            }
        }
    }
}


.copyright-footer {
    background-color: inherit;
    color: $c-primary;
    height: 40px;
    text-align: center;
    font-size: 1rem;

    @media screen and (max-width: 768px) {

        p,
        a,
        span {
            font-size: 11px;
        }
    }

    a {
        color: $c-secondary;

        &:hover,
        &:focus {
            color: $c-primary-light;
        }
    }
}