/* Header */
header {
    background-color: $bg-primary-darken;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

    .navbar {
        height: 100%;

        .navbar-brand {
            height: $h-header;
            margin-right: 0;
            vertical-align: baseline;
            display: flex;
            align-items: center;


            .brand {
                display: inline-block;
                font-weight: $fw-bold;
                color: $c-primary;
                line-height: $h-header;
                text-transform: uppercase;
                letter-spacing: 0.2rem;

                &:hover {
                    color: #e3ee6b;
                }
            }
        }

        .navbar-nav {
            .nav-item {
                &:hover .nav-link {
                    transition: all 0.7s;
                    color: $c-secondary;
                }

                .nav-link {
                    padding: 10px;
                    color: $c-primary;
                    font-size: $fs-5;
                    font-weight: $fs-5;

                    i {
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}



.navbar-light .navbar-nav .nav-link {
    color: $c-primary;
    font-size: $fs-5;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e3ee6b;
}